.container_domanda {
    background-color: white;
    display: flex;
    flex-flow: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 45dvw;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    word-break: keep-all;

    & p {
        width: 100%;
    }
}

.container_domanda h3 {
    display: inherit;
    width: 100%;
    text-align: start;
    font-size: 1.35rem;
}

.elenco_risposte {
    display: flex;
    flex-flow: column;
    gap: 1em;
    font-size: large;
    width: 100%;
}

.notValid {
    border: 3px solid red;
}

.mandatory {
    color:red;
    font-size: larger;
    font-weight: 800;
}